.banner {
    height: 320px;
    overflow: hidden;

    .bg-poster {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        background-position: center center;
        margin: 0 auto;
        object-fit: cover;
        transition: all .5s ease;
        filter: blur(20px);
    }
}

.thumnail-image {
    width: 200px;
}

.movie-info-container {
    margin: -260px 0 0;
}

.details {
    color: white;
    
    .badge {
        border: 1px solid #ddd;
        border-radius: 20px;
        font-weight: 400;
    }
}

.rating-panel {
    background-color: #f9f8f8;
    position: absolute;
    width: 100%;
    height: 90px;
    top: 15rem;
}

.left-container {
    z-index: 1;
}

.info-container {
    margin-top: 8rem;
}
